---
import Layout from "../layouts/Layout.astro";

const response = await fetch(
	Astro.url.origin + "/.netlify/functions/get_settings"
);
const settings = await response.json();
const events = settings.events;
events.sort((a, b) => a.timeInMs - b.timeInMs);
---

<Layout title="Welcome to our events.">
	<main>
		<section id="events-container">
			{
				events.map((event) => (
					<div>
						{event.title}
						<br />
						<dwane-timer timer-deadline={event.timeInMs} />
						<details>
							<summary>Description</summary>
							{event.description}
						</details>
						<a href=`/${event.timeInMs}`>Join</a>
						<br /><br />
					</div>
				))
			}
		</section>
	</main>
</Layout>

<script>
	import "@lifelongdev/dwane-timer/dwane-timer.js";
</script>

<style>
main {
	margin: auto;
	width: 100%;
	max-width: 500px;
}
</style>
