---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<!-- Load Vonage Video API -->
		<script
			is:inline
			src="https://unpkg.com/@vonage/client-sdk-video@2/dist/js/opentok.js"
		></script>

		<!-- chat Web Components -->
		<script
			is:inline
			type="module"
			src="https://unpkg.com/nexmo-client@latest/dist/nexmoClient.js?module"
		></script>

		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	html {
		font-family: system-ui, sans-serif;
		background-color: #f6f6f6;
	}
	body {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}
	#dashboard {
		display: none;
	}
	video-subscriber::part(container) {
		aspect-ratio: 16 / 9;
	}
	#video-subscriber-container {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 80vw;
		height: 90vh;
		position: relative;
	}
	#camera-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
		place-items: center;
		width: 100%;
	}
	#screen-container {
		width: 0;
	}
	#screen-container:has(> video-subscriber) {
		width: 100%;
	}
	#screen-container:has(> video-subscriber) + #camera-container {
		display: block;
		width: 30%;
	}
</style>
